@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');

@font-face {
  font-family: 'Suisse W';
  src: url('fonts/SuisseWorks-Regular.woff2') format('woff2'),
  url('font/SuisseWorks-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse I';
  src: url('fonts/SuisseIntl-Medium.woff2') format('woff2'),
  url('fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


/*________*/

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
}
h2, p, a {
  color: black;
  font-family: 'Suisse I', monospace;
}

h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Suisse W';
  font-size: 56px;
  color: black;
}

h2 {
  opacity: 0.3;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
  font-family: 'Suisse W';
  font-size: 24px;
  color: black;
}

p {
  color: black;
  opacity: 0.3;
  font-family: 'Suisse I', monospace;
  font-size: 16px;
  margin-top: 0px;
}

p:hover {
  opacity: 0.8;
}
#border {
  border-radius: 100px
}

img {
  opacity: 0;
  border-radius: 50%;
  height: 72px;
  width: 72px
}

hover-img h3:hover img{
  opacity: 1;
}

a,ul{
  text-decoration: none;
}

a {
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
i {
  opacity: 0.3;
  font-size: 20px;
}




.marginbottom{
  margin-top: 0px;
  margin-bottom: 20px;
}
.margintopbottom{
  margin-top: 120px;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.text-center {
  text-align: center;
}
.center-card-white-no-border{
  position: absolute;
  width: 100%;
  top: 30%;
  padding: 5px, 5px;                             /* Internal space */
  border-radius: 15px;
  border: 1px;                        /* Small radius */
  margin: 20px, 0px;
}
.card-white-no-border > p {
  display: inline-block;
  padding: 0px 5px;
}

.card-white-no-border > p :hover {
  color: black;
  text-decoration: underline;
}

.bottom-card-white{
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

.card-white {
  background: white;                       /* White background */
  padding: 5px;                             /* Internal space */
  border-radius: 15px;
  border: 1px;                        /* Small radius */
  box-shadow: 0 30px 40px rgba(156,113,74,.2);
  margin: 5px, 0px;

}
.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
}
.list-inline > li :hover {
  opacity: 1;
}


/*___________RESPONSIVE_______________________*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 960px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 100%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100%;
  }
}
